<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2024 Attila Sagi
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Space\KeepContacts\Api\Data\ConfigInterface" type="Space\KeepContacts\Model\Config" />
    <!--<preference for="Space\KeepContacts\Api\Data\ContactSearchResultsInterface"
                type="Space\KeepContacts\Model\ContactSearchResults" />-->
    <preference for="Space\KeepContacts\Api\Data\ContactInterface" type="Space\KeepContacts\Model\Contact" />
    <preference for="Space\KeepContacts\Api\ContactRepositoryInterface" type="Space\KeepContacts\Model\ContactRepository" />
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Space\KeepContacts\Api\Data\ContactInterface"
                      xsi:type="string">Space\KeepContacts\Api\ContactRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Space\KeepContacts\Api\Data\ContactInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">space_keep_contacts</item>
                    <item name="identifierField" xsi:type="string">contact_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="keep_contacts_listing_data_source"
                      xsi:type="string">Space\KeepContacts\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Space\KeepContacts\Model\ResourceModel\Contact\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">space_keep_contacts</argument>
            <argument name="eventPrefix" xsi:type="string">keep_contacts_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">contact_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Space\KeepContacts\Model\ResourceModel\Contact</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Space\KeepContacts\Api\Data\ContactInterface"
                      xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>
